<!DOCTYPE html>
<html lang="en">

<head>
  <title>DropBox{% block title %} {% endblock %}</title>
  <link rel="shortcut icon" href="/static/logo.png">
  <script src="{{ url_for('static', filename='jquerymin.js') }}"></script>
  <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
  <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-firestore.js"></script>
  <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
  <script src="{{ url_for('static', filename='script_2.js') }}"></script>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
  <div class="maindiv">
    <button id="sign-out" soutvalue="false" hidden="true">Sign out</button>
    <div class="welcompage">
      <h3 style="border: 0;">Drop Box</h3>
      {% if user_data %}
      {% if user_data.name %}
      <p style="text-align:right"> Welcome to the Application - <br>{{ user_data.name}}</p>
      {% elif user_data.email %}
      <p style="text-align:right"> Welcome to the Application - <br>{{ user_data.email}}</p>
      {% endif %}
      {% else%}
      <p style="text-align:right"> Welcome to the Application </p>
      {% endif %}
    </div>
    <div class="sidenav">
      <img src="/static/dropbox.png" alt="dropbox" width="50px" height="60px" style="margin-left: 8%;">
      <a href="/">Home</a>
      <a href="/CheckDuplicateFile?currentDirectoryPath={{currentDirectoryPath}}&&mainUrl=1">Duplicate File</a>
      <a href="/singnout" id="signOutWeb">Sign Out </a>

    </div>
    <div class="container">
      <div id="errorMsg" class="errorMsgdiv">
        <input type="hidden" name="errorHidden" id="errorHidden" value="{{error_message}}">
        <div class="msg-content">
          <span class="close">&times;</span>
          <p>{{ error_message }}</p>
          {% if overwrite and overwrite==1 %}
          <a class="anglebutton" style="color: black;" href="/overwriteFile?hiddenFileData={{hiddenFileData}}">Yes. Overwrite</a>
          {%endif%}
        </div>
      </div>
      <div class="datadiv">

        <h3 style="text-align: left;">Path:{{currentDirectoryPath.replace(user_data.email, "UserRootFolder")}}</h3>
        <table style="width:40%;">
          <tr>
            <td><a id="createDir" href="#"><img src="/static/createdir.png" alt="Create Directory" width="40px" height="41px"></a></td>
            <td><a id="fileUpload" href="#"><img src="/static/upload.png" alt="file upload" width="40px" height="41px"></a></td>
          </tr>
          <tr>
            <td>Create Directory</td>
            <td>File Upload</td>
          </tr>

        </table>
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="createFolder">

            <span class="close2">&times;</span>

            <h2>Create Folder</h2>
            <form method="post" action="/createNewFolder">
              <table>
                <tr>
                  <td>
                    <label>Folder Name</label>
                  </td>
                  <td>
                    <input type="text" class="folderName" name="folderName" required placeholder="Folder Name">
                    {%if currentDirectoryPath:%}
                    <input type="hidden" name="currentDirectoryPath" value="{{currentDirectoryPath}}">
                    {% else: %}
                    <input type="hidden" name="currentDirectoryPath" value="">
                    {%endif%}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <b><button class="btncreate btn" style="width: 107%; background: #2e85ef;color: black;">Create</button></b>
                  </td>
                </tr>
              </table>
            </form>
          </div>

        </div>

        <div id="fileUploadModal" class="modal">

          <!-- Modal content -->
          <div class="uploadFile">

            <span class="close3">&times;</span>

            <h2>Upload File</h2>
            <form method="post" action="/uploadNewFile" enctype="multipart/form-data">
              <table>
                <tr>
                  <td>
                    <label>Select file</label>
                  </td>
                  <td>
                    <input type="file" id="filename" name="filename" required>
                    {%if currentDirectoryPath:%}
                    <input type="hidden" name="currentFileDirectoryPath" value="{{currentDirectoryPath}}">
                    {% else: %}
                    <input type="hidden" name="currentFileDirectoryPath" value="">
                    {%endif%}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <b><button class="btncreate btn" style="width: 107%; background: #2e85ef;color: black;">File upload</button></b>
                  </td>
                </tr>
              </table>
            </form>
          </div>

        </div>


        <div id="shareModel" class="modal">

          <!-- Modal content -->
          <div class="shareDir">

            <span class="close4">&times;</span>

            <h2>Share Directory</h2>
            <form method="post" action="/shareDir">
              <table>
                <tr>
                  <td>
                    <label>User Email Id.</label>
                  </td>
                  <td>
                    <input type="text" class="userEmailId" name="userEmailId" required placeholder="userEmailId">
                    <input type="hidden" value="0" class="isDirectory" id="isDirectory" name="isDirectory">

                    <input type="hidden" value="" class="hiddendir" id="hiddendir" name="hiddendir">
                    {%if currentDirectoryPath:%}
                    <input type="hidden" name="currentDirectoryPath" value="{{currentDirectoryPath}}">
                    {% else: %}
                    <input type="hidden" name="currentDirectoryPath" value="">
                    {%endif%}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <b><button class="btncreate btn" style="width: 107%; background: #2e85ef;color: black;">Share</button></b>
                  </td>
                </tr>
              </table>
            </form>
          </div>

        </div>




        <br>
        <br>
      </div>
      {% block content %}
      <br>
      <br>
      <div style="margin-left: 6%;">
        {% if(currentDirectoryPath.replace(user_data.email, "UserRootFolder")) != "UserRootFolder/"%}
        <h2><a href=" /goUpDirect?currentDirectoryPath={{currentDirectoryPath}}"><img src="/static/back.png" alt="file" width="30px" height="30px"> ../</a></h2>
        {%endif%}
      </div>
      <table class="uTbId" style="width:90%;">
        <tr>
          <th style="width: 4%;"></th>
          <th style="width: 38%;">Name</th>
          <th style="width: 5%;">Created By</th>
          <th style="width: 20%;">Shared By</th>
          <th style="width: 4%;">Share</th>
          <th style="width: 15%;">Download</th>
          <th style="width: 25%;">Move</th>
          <th style="width: 25%;">Check Duplicate File</th>
          <th style="width: 25%;">Delete</th>
        </tr>
        {% if directoryList|length == 0 and fileList|length == 0%}
        <tr>
          <td colspan="8" style="text-align: center;">------ This folder is empty ------</td>
        </tr>
        {% else: %}


        {% if directoryList|length != 0 %}
        {% for dir in directoryList %}
        <tr>
          <td style="text-align: center;"><a href="/openDirectory?dirName={{dir.name}}"><img src="/static/folder.png" alt="dropbox" width="40px" height="30px"></a></td>
          <td><a href=" /openDirectory?dirName={{dir.name}}">{{dir.name.replace(currentDirectoryPath, "").replace('/', "")}}</a></td>
          <td style="text-align: center;">{% if dir.isShared == 0 %}{%if dir.owner.split("@")|length == 2%}{{dir.owner.split("@")[0]}}{% else: %} {{dir.owner}}{%endif%} {% else: %}{%endif%}</td>
          <td style="text-align: center;">{% if dir.isShared == 0 %} {% else: %}{%if dir.sharedBy.split("@")|length == 2%}{{dir.sharedBy.split("@")[0]}}{% else: %} {{dir.sharedBy}}{%endif%}{%endif%}</td>
          <td style="text-align: center;">
            {% if dir.isShared == 0 %}
            <!-- <a id="d1share_{{dir.name}}" class="sharedir" href="#" value="{{dir.name}}"><img src="/static/share.png" alt="share" width="29px" height="30px">
              </a>-->
            {%endif%}
          </td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;">{% if dir.isShared == 0 %}<a href="/moveDir?dirName={{dir.name}}&&isDir=1&&currentDirectoryPath={{currentDirectoryPath}}"><img src="/static/move.png" alt="move" width="29px" height="30px"></a>{%endif%}</td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;">{% if dir.isShared == 0 %}<a href="/deletDir?dirName={{dir.name}}&&currentDirectoryPath={{currentDirectoryPath}}"><img src="/static/delete.png" alt="delete" width="29px" height="30px"></a>{%endif%}</td>
        </tr>
        {% endfor %}
        {%endif%}

        {% if fileList|length != 0 %}
        {% for file in fileList %}
        <tr>
          <td style="text-align: center;">{%if file.name.split('.')[file.name.split('.')|length-1] == "pdf":%}
            <img src="/static/pdf.png" alt="file" width="30px" height="30px">
            {% elif file.name.split('.')[file.name.split('.')|length-1] == "docx": %}
            <img src="/static/docx.png" alt="file" width="33px" height="30px">
            {% else: %}
            <img src="/static/file.png" alt="file" width="33px" height="30px">
            {%endif%}
          </td>

          <td>{{file.name.replace(currentDirectoryPath, "").replace('/', "")}}</td>
          <td style="text-align: center;">{% if file.isShared == 0 %}{%if file.owner.split("@")|length == 2%}{{file.owner.split("@")[0]}}{% else: %} {{file.owner}}{%endif%} {% else: %}{%endif%}</td>
          <td style="text-align: center;">{% if file.isShared == 0 %} {% else: %}{%if file.sharedBy.split("@")|length == 2%}{{file.sharedBy.split("@")[0]}}{% else: %} {{file.sharedBy}}{%endif%}{%endif%}</td>
          <td style="text-align: center;">{% if file.isShared == 0 %}<a id="d2share_{{file.name}}" class="sharedir" href="#" value="{{file.name}}"><img src="/static/share.png" alt="share" width="29px" height="30px"></a>{%endif%}</td>
          <td style="text-align: center;">{% if file.isShared == 0 %}<a href="/downloadFileDetails?fileName={{file.name}}"><img src="/static/download.png" alt="download" width="78px" height="62px"></a>{%endif%}</td>
          <td style="text-align: center;">{% if file.isShared == 0 %}<a href="/moveDir?dirName={{file.name}}&&isDir=2&&currentDirectoryPath={{currentDirectoryPath}}"><img src="/static/move.png" alt="move" width="29px" height="30px"></a>{%endif%}</td>
          <td style="text-align: center;"><a href="/CheckDuplicateFile?currentDirectoryPath={{currentDirectoryPath}}&&mainUrl={{file.name}}"><img src="/static/click.png" alt="click" width="29px" height="30px"></a></td>
          <td style="text-align: center;">{% if file.isShared == 0 %}<a href="/deletFile?fileName={{file.name}}&&currentDirectoryPath={{currentDirectoryPath}}"><img src="/static/delete.png" alt="delete" width="29px" height="30px"></a>{%endif%}</td>
        </tr>
        {% endfor %}
        {%endif%}


        {%endif%}
      </table>
      {% endblock %}
    </div>
  </div>

  </div>
  {% block js %}
  {% endblock %}
</body>

</html>