<!DOCTYPE html>
<html lang="en">

<head>
  <title>DropBox{% block title %} {% endblock %}</title>
  <link rel="shortcut icon" href="/static/logo.png">
  <script src="{{ url_for('static', filename='jquerymin.js') }}"></script>
  <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
  <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-firestore.js"></script>
  <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
  <script src="{{ url_for('static', filename='script_2.js') }}"></script>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
  <div class="maindiv">
    <button id="sign-out" soutvalue="false" hidden="true">Sign out</button>
    <div class="welcompage">

      {% if user_data %}
      {% if user_data.name %}
      <p style="text-align:right"> Welcome to the Application - <br>{{ user_data.name}}</p>
      {% elif user_data.email %}
      <p style="text-align:right"> Welcome to the Application - <br>{{ user_data.email}}</p>
      {% endif %}
      {% else%}
      <p style="text-align:right"> Welcome to the Application </p>
      {% endif %}
    </div>
    <div class="sidenav">
      <img src="/static/dropbox.png" alt="dropbox" width="50px" height="60px">
      <a href="/">Home</a>
      <a href="/availableroomlist">Admin Added Room list</a>
      <a href="/addroombookingSearch">Room Booking</a>
      <a href="/bookedroomlist/AllType">Booked Room List</a>
      <a href="/singnout">Sign Out </a>

    </div>
    <div class="container">
      <div id="errorMsg" class="errorMsgdiv">
        <input type="hidden" name="errorHidden" id="errorHidden" value="{{error_message}}">
        <div class="msg-content">
          <span class="close">&times;</span>
          <p>{{ error_message }}</p>
        </div>
      </div>
      <div class="datadiv">
        <h3>Drop Box</h3>
        <h3 style="text-align: left;">Path:{{currentDirectoryPath.replace(user_data.email, "UserRootFolder")}}</h3>
        <table style="width:40%;">
          <tr>
            <td><a id="createDir" href="#"><img src="/static/createdir.png" alt="Create Directory" width="40px" height="41px"></a></td>
            <td><a id="fileUpload" href="#"><img src="/static/upload.png" alt="file upload" width="40px" height="41px"></a></td>
          </tr>
          <tr>
            <td>Create Directory</td>
            <td>File Upload</td>
          </tr>

        </table>
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="createFolder">

            <span class="close2">&times;</span>

            <h2>Create Folder</h2>
            <form method="post" action="/createNewFolder">
              <table>
                <tr>
                  <td>
                    <label>Folder Name</label>
                  </td>
                  <td>
                    <input type="text" class="folderName" name="folderName" required placeholder="Folder Name">
                    {%if currentDirectoryPath:%}
                    <input type="hidden" name="currentDirectoryPath" value="{{currentDirectoryPath}}">
                    {% else: %}
                    <input type="hidden" name="currentDirectoryPath" value="">
                    {%endif%}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <b><button class="btncreate btn" style="width: 107%; background: #2e85ef;color: black;">Create</button></b>
                  </td>
                </tr>
              </table>
            </form>
          </div>

        </div>

        <div id="fileUploadModal" class="modal">

          <!-- Modal content -->
          <div class="uploadFile">

            <span class="close3">&times;</span>

            <h2>Upload File</h2>
            <form method="post" action="/uploadNewFile" enctype="multipart/form-data">
              <table>
                <tr>
                  <td>
                    <label>Select file</label>
                  </td>
                  <td>
                    <input type="file" id="filename" name="filename" required>
                    {%if currentDirectoryPath:%}
                    <input type="hidden" name="currentFileDirectoryPath" value="{{currentDirectoryPath}}">
                    {% else: %}
                    <input type="hidden" name="currentFileDirectoryPath" value="">
                    {%endif%}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <b><button class="btncreate btn" style="width: 107%; background: #2e85ef;color: black;">File upload</button></b>
                  </td>
                </tr>
              </table>
            </form>
          </div>

        </div>

        <br>
        <br>
      </div>
      {% block content %}
      <table style="width:40%; margin-left: 30%;">
        <tr>
          <th colspan="2">Name</th>
          <th>Delete</th>
        </tr>
        {% if directoryList|length == 0 and fileList|length == 0%}
        <tr>
          <td colspan="4" style="text-align: center;">------ This folder is empty ------</td>
        </tr>
        {% else: %}


        {% if directoryList|length != 0 %}
        {% for dir in directoryList %}
        <tr>
          <td><a href="/openDirectory?dirName={{dir.name}}"><img src="/static/folder.png" alt="dropbox" width="40px" height="30px"></a></td>
          <td>{{dir.name}}</td>
          <td> <a href="/deletDir?dirName={{dir.name}}"><img src="/static/delete.png" alt="delete" width="29px" height="30px"></a></td>
        </tr>
        {% endfor %}
        {%endif%}

        {% if fileList|length != 0 %}
        {% for file in fileList %}
        <tr>
          <td>{%if file.name.split('.')[file.name.split('.')|length-1] == "pdf":%}
            <img src="/static/pdf.png" alt="file" width="30px" height="30px">
            {% elif file.name.split('.')[file.name.split('.')|length-1] == "docx": %}
            <img src="/static/docx.png" alt="file" width="33px" height="30px">
            {% else: %}
            <img src="/static/file.png" alt="file" width="33px" height="30px">
            {%endif%}
          </td>
          <td>{{file.name}} {{file.name.split('.')[file.name.split('.')|length-1]}}</td>
          <td> <a href="/deletFile?fileName={{file.name}}"><img src="/static/delete.png" alt="delete" width="29px" height="30px"></a></td>
        </tr>
        </tr>
        {% endfor %}
        {%endif%}


        {%endif%}
      </table>
      {% endblock %}
    </div>
  </div>

  </div>
  {% block js %}
  {% endblock %}
</body>

</html>